.items-page-header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/item/item-header.jpg);
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
}

.main-text {
  color: #fff;
  margin-right: 5rem;
  width: 30%;
  font-family: 'Lobster', cursive;
}

.items-list-begin-text {
  font-family: 'Gotu', sans-serif;
  color: #BC8EC8;
}

.items-list-main-text {
  font-family: 'Acme', sans-serif;
  color: #BA0295;
  margin: auto;
  font-size: 2rem;
}



.item-card {
  border-radius: 5px;
  transition: 0.3s ease-out;
  color: #000;
}

.item-card:hover {
  background-color: rgba(186, 2, 149, 0.884);
  transition: 0.3s;
  color: #fff;
}

.item-card-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.item-head {
  border-bottom: 2px dotted rgba(186, 2, 149, 0.884);
  padding-bottom: 0.5rem;
}

.item-name-text {
  margin: 0;
}

.price-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(214, 204, 57);
  margin: 0;
}

.item-detail-price {
  color: rgb(214, 204, 57);
  font-size: 2.5rem;
  font-weight: bold;
}

.item-category-btn-group {
  margin: auto;
}

.item-category-btn {
  display: inline-block;
  margin: 0 0.5rem;
  border: none;
  color: #BC8EC8;
  text-align: center;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  font-size: 1.3rem;;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 3px solid rgba(186, 2, 149, 0.884);
  transition: 0.3s;
}

.item-category-btn:hover {
  border-bottom: 2px solid rgb(214, 204, 57);
  color: rgba(186, 2, 149, 0.884);
  transition: 0.3s;
}

.item-card-btn {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.item-card-btn-success {
  border: none;
  background-color: rgb(214, 204, 57);
}

.item-link {
  color: inherit;
}

.item-link:hover {
  color: rgb(214, 204, 57);
}

.item-img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review-card {
  background-color: rgba(203, 180, 209, 0.3);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: rgb(82, 6, 99);
  transition: 0.3s;
}

.review-card:hover {
  color: #fff;
  background: rgba(128, 53, 145, 0.5);
  transition: 0.3s;
}

.item-review-text {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.rating-text {
  color: rgb(214, 204, 57);
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  margin-left: 1.5rem;
}

.item-review-content {
  color: rgba(186, 2, 149, 0.884);
  font-size: 1rem;
}

.profile-fullname {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 1rem;
}

.custom-close-btn {
  display: block;
  color: rgba(186, 2, 149, 0.884);
  font-weight: bold;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}

.custom-close-btn:hover {
  color: rgb(82, 6, 99);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .img-card-container {
    text-align: center;
  }

  .img-card-img {
    width: 75%;
  }

  .main-text {
    color: #fff;
    margin: auto;
    text-align: center;
    width: 50%;
    font-family: 'Lobster', cursive;
  }

  .item-img-container {
    margin-top: 2rem;
  }

  .review-card {
    margin: 1rem 0.5rem;
  }
}