.nav {
  position: relative;
}

.navbar-brand-text {
  font-weight: bold;
  font-size: 2rem;
  background: -webkit-linear-gradient(#5D207C  , #993EBC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-bg {
  background-color: #BC8EC8;
}

.navbar-brand {
  text-decoration: none;
}

.navbar-cart-icon {
  color: #fff
}

.link-text {
  font-size: 1.2rem;
  color: #E40B69;
  font-weight: bold;
  transition: 0.25s;
}

.link-text:hover {
  color: #A377C4;
  transition: 0.25s;
}

.btn-login {
  color: #FFFFFF;
  background-color: #A677C4;
  font-weight: bold;
  /* padding: 0; */
  transition: 0.25s;
}

.btn-login:hover {
  color: #fff;
  background-color: #BA0295;
  transition: 0.25s;
  text-decoration: none;
}