.nav {
  position: relative;
}

.navbar-bg {
  background-color: #BC8EC8;
}

.navbar-brand-text {
  font-weight: bold;
  font-size: 2rem;
  background: -webkit-linear-gradient(#5D207C  , #993ebc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand {
  text-decoration: none;
}

.navbar-cart-icon {
  color: #fff;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228, 11, 105, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.link-text {
  font-size: 1.2rem;
  color: #8810b8;
  font-weight: bold;
  transition: 0.25s;
}

.link-text:hover {
  color: rgb(29, 189, 101);
  transition: 0.25s;
}

.btn-login {
  color: #FFFFFF;
  background-color: rgb(76, 56, 87);
  font-weight: bold;
  transition: 0.25s;
}

.btn-login:hover {
  color: #fff;
  background-color: #BA0295;
  transition: 0.25s;
  text-decoration: none;
}

.custom-dropdown {
  background-color: #A377C4;
}

@media screen and (max-width: 768px) {
  .nav-item-top {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .nav {
    background-color: #BC8EC8;
  }

  .link-text {
    color: #BA0295;
  }
}