.navbar-brand-text {
  font-weight: bold;
  font-size: 2rem;
  background: -webkit-linear-gradient(#FF4F00  , #FFC746);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand {
  text-decoration: none;
}

.link-text {
  font-size: 1.5rem;
  font-weight: bold;  
}

.btn-login {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}