.user-profile {
  width: 100%;
  height: 35vh;
  background-image: url('../images/profile-background.jpg');
  background-position: center left;
  background-size: cover;
  z-index: 0;
}

.page-bg {
  background-color: #BC8EC8;
}

.profile-box {
  margin-left: 100px;
  margin-top: 1.5rem;
}

.profile-text {
  color: #fff;
}

.profile-picture {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin-top: -15vh;
  margin-left: 100px;
  box-shadow: 2px 2px 2px 2px rgba(196, 125, 119, 0.5);
}

.profile-button-box {
  width: 100%;
  height: 75vh;
  background-image: url('../images/profile-background-2.jpg');
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.profile-card {
  border: 2px solid #9e26d9;
  border-radius: 5px;
}

.profile-card-text-title {
  color: #991468;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.profile-card-text {
  color: #e40b69;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.profile-card-button {
  margin-top: 2.5rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .profile-text-box {
    margin-top: 2rem;
  }

  .user-profile {
    margin-top: 5rem;
  }

  .profile-button-box {
    height: 100%;
  }

  .profile-card {
    margin: 1.5rem 1rem;
  }
}